body {
    font-family: sans-serif;
}

header {
    max-width: 58rem;
    margin: 0 auto;
}

/* Sterp1: style all links showing on the smallest screen  */

/* Text styling goes on the <a> tag to overwrite the browser styles. Layout styles go on the <li> elements */

ul.menu {
    background-color: #191919;
}

ul.menu a {
    color: #f5f5f5;
    text-decoration: underline;
    text-transform: uppercase;
   /*  expand the clickable/ tap area to fill the entire lim vs just the text itself */
   display: block;
   padding: 1rem;
}

ul.menu a:hover,
ul.menu a:active{
    background-color: #262626;
    border-radius: 5px;
}

ul.dropdown-menu {
    padding: 0 1rem;
}

ul.dropdown-menu a {
    text-decoration: none;
}

/* Step 2: layout the links for thr larger screen. Style everything and then hide the second level nav */
@media only screen and (min-width: 40rem) {
    ul.menu {
        display: flex;
        flex-wrap: wrap;
    }

    ul.menu li {
        /* flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto; */
        flex: 1 0 auto;
        /* this forces the text to stay on one line */
        white-space: nowrap;
        text-align: center;
    }

    /* Step 3: position and hide the dropdown menu */

    ul.dropdown-menu {
        /* Remove the indent needed for the smaller screen */
        padding: 0;
        position: absolute;
    }
}







